*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#navbar::before{
    content: '';
    background-color: rgb(138, 220, 245);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul{
    display: flex;
    margin-bottom: 0px;
    
}
#logo{
    display: flex;
    align-items: center;
    margin-right: 400px;
    width: 330px;
}
#navbar ul li{
    list-style: none;
    width: max-content;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    text-decoration: none;
    color:black;
}
#navbar ul li a:hover{
    color:white;
    background-color: black;
}
#footer{
    background-color: aqua;
    height: 200px;
}

